# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env (if stored in project)
.venv/

# Poetry local config
poetry.lock

# Environment variables / secrets
.env
.env.*

# Misc
*.log
.DS_Store
.idea/
.vscode/
